* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Ubuntu";
  background: rgb(3, 6, 37);
}
header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-radius: 2px;
}

.renault {
  width: 5rem;
  border-radius: 20px;
}
.navba,
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navba {
  gap: 5rem;
}
.list {
  gap: 2rem;
  color: black;
}
.c__a {
  border-radius: 20px;
  width: 3rem;
}
main {
  color: white;
}
